:root {
  --accent: oklch(46% 0.1 162);
  --accent-dark: oklch(38% 0.1 162);
  --black: oklch(25% 0 0);
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: rgb(34, 41, 57);
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);

  --fs-sm: clamp(0.75rem, 0.154vw + 0.712rem, 0.85rem);
  --fs-base: clamp(0.938rem, 0.192vw + 0.889rem, 1.063rem);
  --fs-md: clamp(1.172rem, 0.24vw + 1.112rem, 1.328rem);
  --fs-lg: clamp(1.465rem, 0.3vw + 1.39rem, 1.66rem);
  --fs-xl: clamp(1.831rem, 0.376vw + 1.737rem, 2.075rem);
  --fs-xxl: clamp(2.289rem, 0.47vw + 2.171rem, 2.594rem);
  --fs-xxxl: clamp(2.861rem, 0.587vw + 2.714rem, 3.242rem);

  --grid-gap: clamp(1rem, 6vw, 3rem);
  --grid-full: minmax(var(--grid-gap), 1fr);
  --grid-bleed: minmax(0, 5rem);
  --grid-content: min(70ch, 100% - var(--grid-gap) * 2);
  --grid-popout: minmax(0, 2rem);
  --grid-feature: minmax(0, 3rem);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(var(--gray-gradient)) no-repeat;
  background-size: 100% 600px;
  padding: 0;
  font-family:
    'Metropolis',
    -apple-system,
    'Segoe UI',
    sans-serif;
  text-align: left;
  word-wrap: break-word;
  scroll-behavior: smooth;
  color: var(--black);
  font-size: var(--fs-base);
  line-height: 1.7;
  overflow-wrap: break-word;
}

main {
  padding-block: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  color: var(--black);
  line-height: 1.2;
}

h1 {
  font-size: var(--fs-xxl);
}

h2 {
  font-size: var(--fs-xl);
}

h3 {
  font-size: var(--fs-lg);
}

h4 {
  font-size: var(--fs-md);
}

strong,
b {
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration-color: var(--accent);
  text-underline-offset: 0.25em;
}

a:hover {
  text-decoration-thickness: 0.25em;
}

p,
a {
  margin: 0 0 1em 0;
}

p + ul {
  margin-top: 0em;
}

textarea {
  width: 100%;
  font-size: 16px;
}

input {
  font-size: 16px;
}

table {
  width: 100%;
}

img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}

code {
  border-radius: 2px;
  background-color: rgb(var(--gray-light));
  padding: 2px 5px;
}

pre {
  border-radius: 8px;
  padding: 1.5em;
}

pre > code {
  all: unset;
}

blockquote {
  margin: 0px;
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  font-size: 1.333em;
}

hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
}

.layout-grid {
  display: grid;
  grid-template-columns:
    [full-start] var(--grid-full) [bleed-start] var(--grid-bleed) [feature-start] var(--grid-feature)
    [popout-start] var(--grid-popout) [content-start] var(--grid-content) [content-end] var(--grid-popout) [popout-end] var(
      --grid-feature
    )
    [feature-end] var(--grid-bleed) [bleed-end] var(--grid-full) [full-end];
}

:is(.layout-grid, .full) > * {
  grid-column: content;
}

.popout {
  grid-column: popout;
}

.feature {
  grid-column: feature;
}

.bleed {
  grid-column: bleed;
}

.full {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: full;
}

.bg-decoration {
  position: absolute;
  z-index: -1;
  mask-image: radial-gradient(ellipse 100% 60% at 50% 0%, #000 70%, transparent 100%);
  inset: 0;
  background-image: linear-gradient(to right, #f5f5f5 1px, transparent 1px),
    linear-gradient(to bottom, #f5f5f5 1px, transparent 1px);
  background-size: 3rem 3rem;
  background-color: white;
  width: 100vw;
  height: 100vh;
}

.sr-only {
  position: absolute !important;
  margin: 0;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
