---
const today = new Date();
---

<footer class='layout-grid'>
	<div class='content'>
		<div class='sitemap'>
			<span><strong>Sitemap</strong></span>
			<ul>
				<li><a href='/about'>/about</a></li>
				<li><a href='/blog'>/blog</a></li>
				<li><a href='/uses'>/uses</a></li>
				<li><a href='/resume'>/resume</a></li>
				<li><a href='/notes'>/notes</a></li>
			</ul>
		</div>
		<div class='connect'>
			<span><strong>Connect</strong></span>
			<ul>
				<li><a href='/contact'>Email</a></li>
				<li><a href='https://github.com/ethrmor'>Github</a></li>
				<li><a href='https://linkedin.com/in/ethanmorris1'>LinkedIn</a></li>
				<li><a href='https://twitter.com/ethrmor'>Twitter</a></li>
			</ul>
		</div>
		<p>&copy; {today.getFullYear()} Ethan Morris. All rights reserved.</p>
	</div>
</footer>

<style>
	.content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: start;
		gap: 1em;
		border-block-start: 1px solid #f0f0f0;
		padding-block: 1em 4rem;
		font-size: var(--fs-sm);
	}
	ul {
		display: flex;
		flex-direction: column;
		margin: 0;
		padding: 0;
		list-style: none;
	}
	a {
		color: rgb(var(--gray));
	}
	a:hover {
		color: var(--accent);
	}
</style>
